# PELICULA FAVORITA:

##Avengers End Game

Cuando yo estudiaba en la secundaria no conocia nada
de peliculas, pero bueno yo era feliz haciendo lo que 
me gustaba, pero cuando se iva el tiempo algunas amigos
me preguntaron que peliculas veia, y bueno no respondi nada. @octocat :+1: This PR looks great - its redy to merge!

JAJA la verdad me senti como algo que no servia, porque
deberia ya haber visto bastantes peliculas a esa edad pero no
y bueno les dije que no me gustaban mucho las pelicualas.

Ellos me dijeron que tenia que ver las peliculas de Marvel
yo me quede con esa cara de y eso que es JAJA, pero bueno
luego se fue el dia y yo estaba en casa viendo algunas cosas
que hacer y de pronto se me vino esa pelicula en la mente

Y la busque en youtube esta pelicula no la conocia pero 
mis amigos me comentaronque estaba buenisima y con solo 
ver el trailer del mismo me volvi fan de las peliculas 
de Marvel.

Hoy en dia ya vi bastantes peliculas pero sobre todo me 
gustan mas las de marvel, la forma en la que los personajes 
se hablan y todo el acto que pasa en la pelicula me gusta
bastante.
![Esta es una imagen](https://https://play-lh.googleusercontent.com/rIwKc7jSX-rYp-uAuNm_ct5C7lQn-ugYxKTpSH1wxZNn0Ysxx7aH_UfANTtMkK1X0cxo)

#LISTA DE TAREAS:

* Ayudar en la casa
* Realizar las tareas
* Limpiar mi cuarto
* Hacer ejercicio
* Cuidar a las mascotas 
![Esta es una imagen](https://supermamaspanama.com/wp-content/uploads/2018/04/Familia-limpiando.jpg)

 # Auto detect text files and perform LF normalization
* text=auto
